# Ignorer les fichiers de données volumineux
*.tif
*.tiff
*.geotiff
*.geojson
*.gpkg
*.city.json
*.json
*.aux.xml
*.rar
*.zip
*.obj
*.mtl
*.png
*.jpg
*/Modèle obj/
*.ma

# Ignorer les fichiers systèmes et python
__pycache__/
*.pyc
.DS_Store
.vscode/


# Fichiers temporaires et de logiciel
~$*
*.qgz
*.log
*.csv
*.dbf
*.shx
*.prj
*.cpg
*.qmd
