# Ignorer les fichiers de données volumineux
*.tif
*.tiff
*.geotiff
*.geojson
*.gpkg
*.city.json
*.json
*.aux
*.xml
*.txt
*.jpeg
*.rar
*.zip
*.obj
*.mtl
*.png
*.jpg
*.jpg.swatch
*/Modèle obj/
*.ma
*.ma.swatches
*.png.swatch

# Ignorer les fichiers systèmes et python
__pycache__/
*.pyc
.DS_Store
.vscode/


# Fichiers temporaires et de logiciel
~$*
*.qgz
*.log
*.csv
*.dbf
*.shx
*.shp
*.prj
*.cpg
*.qmd
